/* @media (min-width: 1200px) {
    .container{
        max-width: 1024px;
    }
}

body{
	background-color:#f4f4f4;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

header{
	text-align: left;
	background-image: none;
	background-color: #ffffff;
	color: #f05f40;
	min-height: auto;
}

.navbar{
	background-color:#f05f40;
}
*/
.content{
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.blog{
	min-height: 605px;
}

.step-body{
	margin-top: 15px;
	padding: 20px 0px;
}

/*footer{
	background-image : url(../img/header.jpg);
	background-position: center;
	background-size: cover;
	color: #fff;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}*/

/*.copyright{
    font-size: 11px;
}*/

.form-control{
	border-radius : 0px;
}

.btn{
	border-radius : 0px;
}

.modal-content{
	border-radius: 0px;
}
.bs-callout{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #eee;
	/* border-left-width: 5px; */
	border-radius: 3px;
} 

.bs-callout-info{
	border-color: #009688;
}

.bs-callout h4{
    margin-top: 5px;
	
    margin-bottom: 5px;
}

.bs-callout-info h4{
	color:#1b809e;
}

.bs-callout-header{
	color: #fff;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px 20px;
	background-color: #009688;
	font-weight: bold;
}

.bs-callout .control-label{
	font-weight : normal;
	text-align: left;
}

.form-group label{
	font-weight: 100;
} 

/* overide bootstrap custome */
/* .btn-default{
    border: 1px solid;
    border-color: #CCCCCC;
	
} */
/* end */

/* overide jquery step */

.navbar-header .navbar-brand{
	color : #fff;
	font-size: 16pt;
}

.form-wizard>.steps{
	background-color : transparent;
}

.form-wizard>.actions{
	background-color : transparent;
}

.wizard-container{
	padding-right: 15px;
    padding-left: 15px;
}

.form-wizard>.steps {
    border-bottom: none;
}

.form-wizard>.actions {
    border-top: none;
}

.form-wizard>.steps>ul>li.current>a>.number:after {
    content: "";
}

.form-wizard>.steps>ul>li.current>a>.number {
    font-size: 14px;
    color: #fff;
}

.form-wizard>.steps>ul>li.done>a>.number:after {
    content: "";
}

.form-wizard>.steps>ul>li.done>a>.number {
    font-size: 14px;
    color: #fff;
}

.form-hide{
	display : none;
}

#table-diet thead tr th{
	text-align : center;
	vertical-align: middle;
}

#table-diet thead tr th, #table-diet tbody tr td{white-space: nowrap;}

.fa-codeigniter{
	background-image: url('/assets/img/ci_white.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	transition: 0s;
}

.fa-codeigniter:hover{
	background-size: 55%;
}

.fa-codeigniter:before{
	content: "a";
	color: transparent;
}

.fa-bootstrap:before{
	content: "B";
	font-family : Helvetica;
}

.fa-php:before{
	content: "php";
	font-family : Helvetica;
	font-style: italic;
	font-size:;
}

.schedule-box{
    padding: 10px 15px;
}

.schedule-box .header{
    padding: 5px;
    font-weight: bold;
    font-size: 12pt;
    border-left: 5px solid #009688;
}

.schedule-box .body{
    padding: 10px;
}

.schedule-box .body label{
    font-weight: normal;
}

.demo-container {
	box-sizing: border-box;
	width: 100%;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.loading img{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    display : none;
}

.log-block{}

.log-block .log-header{
    font-weight: bold;
    font-size: 12pt;
    border-left: 5px solid #009688;
    border-bottom: 2px solid #009688;
    padding-left: 5px;
}

.log-block .log-body{
    padding: 10px;
}

.table-individu tbody tr td{
    max-width: 40px !important;
    min-width: 40px !important;
    padding: 5px;
    text-align: center;
}